.emergency-doctor {
  margin: 48px 0;

  &__subtitle {
    text-align: center;
    font-size: 20px;
    color: #252525;
    font-family: 'Lexend Deca';
    margin-bottom: 4px;
  }

  &__title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 32px;
    font-family: 'Lexend Deca';
  }

  /* Cards Wrapper */
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;


    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  /* Individual Card */
  &__card {
    background: #fefefe;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    padding: 30px 47px;
    transition: all 0.2s ease;
    margin-bottom: 40px;

    h3 {
      font-size: 30px;
      font-weight: 600;
      color: #171717;
      font-family: 'Lexend Deca';
      margin: 13px 0 14px;
    }

    p {
      font-size: 22px;
      color: rgba(23, 23, 23, 0.7);
      line-height: 20px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 20px;
    }

    &:hover {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    }
  }

  /* Link Button */
  &__link {
    background: none;
    border: none;
    color: #2256af;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
  }

  /* Bottom CTA */
  &__cta {
    display: flex;
    justify-content: center;

    button {
      width: 100%;
      max-width: 900px;
      justify-content: center;
      padding: 12px 20px;
      display: flex;
      align-items: center;
      gap: 8px;
      background: #014a97;
      color: #fff;
      padding: 12px 20px;
      border-radius: 10px;
      border: none;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background: #013a78;
      }
    }
  }
}


.emergency-status {
  display: flex;
  align-items: center;
  gap: 12px;

  background: #ffffff;
  padding: 10px 14px;
  border-radius: 3px;

  margin: 0 auto 24px;
  width: fit-content;

  &__avatars {
    display: flex;

    img {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #fff;
      margin-left: -8px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    .online-text {
      font-family: 'Lexend Deca';
      font-weight: 400;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0%;

      color: #252525;
      opacity: 0.5;

      margin: 0;
    }

    .status-badge {
      background: #F3F3F3;
      color: #252525;

      font-family: 'Lexend Deca';
      font-weight: 500;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0%;

      padding: 6px 12px;
      border-radius: 6px;
      width: fit-content;
    }
  }
}